.controller {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   margin-left: auto;
   margin-right: auto;
   min-height: 7em;
   max-width: 42em;
   background: rgba(245, 176, 65, .95);
}
.passage-audio {
    height: 2em;
}
#passage-audio {
    width: 100%;
    max-height: 2em;
}
#passage-text {
    margin-top: 10em;
}
#passage-text.speaking {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.autofocus-current-word,
.playback-rate {
    font-size: smaller;
}
.autofocus-current-word label,
.playback-rate label {
    font-weight: bold;
}
q {
    quotes: "“" "”" "‘" "’";
}
.section-heading {
    display: none;
}
.passage p {
    line-height: 1.4em;
}
.verse-start {
    line-height: 0;
}
.initialized span[data-begin]:focus,
.initialized span[data-begin]:hover {
    background-color: #FFFFCA;
    box-shadow: 0px 0px 4px #FFFFCA;
}
.initialized span[data-begin].speaking {
    background-color: yellow;
    box-shadow: 0px 0px 4px yellow;
}
.initialized span[data-begin] {
    cursor: pointer;
}
.error {
    color: red;
}

article > footer {
    border-top: solid 1px gray;
    padding-top: 1em;
    margin-top: 1em;
}

footer {
    margin-bottom: 0.5em;
    line-height: 1.4em;
    font-size: small;
}
footer img {
    vertical-align: text-bottom;
}
